.fa-minus{
    transform: translateX(-5px);
}
.fa-plus{
    transform: translateX(-5px);
}
.btn-primary {
 background: transparent;   
 color: black;
 border-radius: 8px;
}

.product_image{
    width: 100px !important;
}
.empty{
    width: 30%;
    color: #676767;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
background: #F8FCFD;
}
.product_card{
    border-radius: 8px;
    background: #F8FCFD !important;
}
@media (max-width:425px) {
    .image{
        flex-direction: column;
        flex-wrap: wrap !important;
    }
    .image img{
        width: 100% !important;
    }    
}
.summary{
    border-bottom: 2px solid  #B8D4E2;;
}
.p-button-icon-only{
    height: 35px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4799d0;
    color: white;
}
.p-button-icon-only:hover{
    background: rgb(23, 102, 180);
    }
    .bi-trash{
        color: #EA223B;
    }