.dropDown {
    width: 30% !important;
}
.dropDownLink {
    display: flex;
    justify-content: right;
    align-items: center;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.dropDownLink i {
    font-size: 24px;
}
.buttonLi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.buttonLi .logout, 
.buttonLi .login 
{
    display: flex;
    border: 0;
    width: 189px;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: #fff;
}
.buttonLi .logout {
    background: #EE485C !important;
}
.buttonLi .logout:hover {
    background: #ee485ba9 !important;
    transition: 0.5s;
}
.buttonLi .login {
    background: #4a9cc5 !important;
}
.buttonLi .login:hover {
    background: #4a9cc5b6 !important;
    transition: 0.5s;
}
.ulMinLinks a:hover,
.ulMinLinks a:focus {
    color: #dcdcdc;
}
@media (max-width: 991px) {
    .rightSection {
        flex-direction: row !important;
    }
    .rightSection .dropUl {
        position: absolute !important;
    }
    .containerSm {
        gap: 10px !important;
    }
    .collapseStyles {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .ulMinLinks {
        flex-direction: row !important;
        width: 100%;
        justify-content: space-around;
    }
    .ulMinLinks a {
        font-size: 1.1rem;
    }
}
.navBtn {
    width: 170px;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 8px;
    background: #2E6F8D;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    padding: 8px 15px;
}
.navBtn:hover {
    background: #2e6f8da1;
    transition: 0.5s;
}
.btnWithIcons,
.btnWithIcons a {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    color: #292D32;
    text-decoration: none;
}
.btnWithIcons i {
    cursor: pointer;
}
.btnWithIcons i:hover {
    color: #292d3298;
    transition: 0.5s;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.sayHi {
    text-transform: capitalize;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}
@media (max-width: 480px) {
    .btnWithIcons {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    .dropUl {
        left: -68px !important;
        top: 40px !important;
    }
}
.searchBox {
    width: 100%;
    position: relative;
}

.searchResults {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: white;
    width: 100%;
    padding: 10px;
    border: 2px solid #eee;
    border-radius: 10px;
    margin-top: 5px;
    height: 198px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.searchResults.show {
    display: block;
}
.searchItemBox {
    width: 100%;
}
.searchItemBox:hover {
    background-color: rgba(143, 142, 142, 0.32);
    transition: 0.5s;
}
.itemBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #262626;
    text-decoration: none;
    padding: 5px;
}

.searchDiv {
    background: none;
    padding: 0;
    padding-right: 0 !important;
    position: relative;
}
.searchICon {
    position: absolute;
    font-size: 23px;
    width: 50px;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 7px;
    left: -4px;
    cursor: pointer;
}
.searchInput {
    border: 0;
    background-color: #ECF5FA;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding-left: 40px;
}
.searchInput:focus {
    box-shadow: none;
    outline: 3px solid #8f8e8e;
    transition: 0.1s;
}
.links {
    display: flex;
}
.iconsLinks {
    display: none !important;
}

@media(max-width: 425px) {
    .mainNav {
        position: fixed !important;
        z-index: 100;
        width: 100%;
        top: 0px;
        top: 0px;
    }
    .containerStyle {
        padding: 0px;
    }
    .minNav {
        position: fixed !important;
        z-index: 100;
        width: 100%;
        bottom: 0;
        height: 60px;
        overflow: hidden;
    }
    .ulMinLinks {
        display: none !important;
    }
    .iconsLinks {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-evenly !important;
        align-items: center;
    }
}