
.dropDownLink{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0px 0px 0px 10px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}
.dropDownLink i {
    font-size: 24px;
}
.dropDownLink a {
    padding-left: 10px;
}
.buttonLi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.buttonLi button {
    display: flex;
    width: 189px;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #EE485C;
}
@media (max-width: 991px) {
    .rightSection {
        flex-direction: row;
    }
    .rightSection .dropUl {
        position: absolute !important;
    }
    .containerSm {
        gap: 10px !important;
    }
    .collapseStyles {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .ulMinLinks {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    .ulMinLinks a {
        font-size: 1.1rem;
    }
}