.button {
    transition: all 0.1s;
    border-radius: var(--radius-lg, 16px);
    background: linear-gradient(180deg, #91C7E0 0%, #429ECA 100%);
    width: 172px;
    padding: 12px 57px 12px 56px;
    border: none;
    margin-left: auto;
    display: flex;
    color: #fff;
}
.button:hover {
    transition: all 0.5s;
    background: linear-gradient(180deg, #91C7E0 100%, #429ECA 0%);
    color: #f3f3f3;
}