/* CSS for responsiveness */
.container {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
  
  .responsive-table {
    display: flex;
    flex-direction: column;
    overflow-x: auto; /* Add horizontal scrollbar if needed */
  }
  
  /* Media query for tablet screens */
  @media (max-width: 768px) {
    .container {
      padding: 0 10px;
    }
    
    .responsive-table {
      overflow-x: initial; /* Remove horizontal scrollbar on small screens */
    }
  }
  .special_button button{
    display: inline-flex;
    padding: 10px 32px 9px 32px;
    justify-content: center;
    align-items: center;  
}
.empty_text{
    color: #292D32;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* Original styles for larger screens */
table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

thead ,th{
  font-weight: normal;
  color: rgba(41, 45, 50, 1) !important;
}

/* Zebra striping */

tr{
  border-bottom: 1px solid  #D9D9D9;
}


td,
th {
  padding: 6px;
  text-align: left;
  border: none;
}

.cart_button {
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #429ECA;
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width:fit-content;
  padding: 5px 10px;
  height: fit-content;
}

.bi-trash {
  font-size: 18px;
  color: #EA223B;
  cursor: pointer;
}
.bi-cart-dash{
  color: #429ECA;
}

/* Media query for smaller screens */
@media (max-width:425px) {
  table {
    width: auto;
    font-size: 12px;
  }
  .product_title{
    font-size: 10px !important;
  }

  th,
  td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  th {
    display: table-cell;
    font-size: 11px;
  }

  td {
    display: table-cell;
  }

  /* Adjust button and icon sizes for smaller screens */
  

  .bi-trash {
    font-size: 24px;
  }
}
/* .p-toast{
  width: 300px !important;
  position: fixed;
  right: 0;
}
.p-toast-icon-close{
  border: none;
} */