.control{
display: flex;
flex-direction: column;
position: relative;
}
.cs{
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 66px;
    display: block;
}
@media (max-width:367px) {
    .container{
        margin: 0 !important;
        --mdb-gutter-x: 0;
    }    
}
