.myOwnStyleRight::before {
    content: "\F285";
    font-family: "Bootstrap-icons";
    color: #000000;
    font-size: 35px;
}

.myOwnStyleLeft {
    left: -50px;
}

.myOwnStyleLeft::before {
    content: "\F284 ";
    font-family: "Bootstrap-icons";
    color: #000000;
    font-size: 35px;
}

.myOwnStyleRight {
    right: -30px;
}

.upperBody {
    display: flex;
    justify-content: space-between;
}
.discount {
    display: flex;
    flex-direction: row-reverse;
}
.addBtn {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 12px;
    align-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #429ECA;
    color: #fff;
}
.add-btn:hover {
    background-color: #429fca9f;
    color: #fff;
}
