
.cardItem .heart {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    background-color: #DAF3FF;
    color: red;
    right: 0;
    padding: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.cardItem > a {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.cardItem a > img {
    width: 100%;
    height: 100%;
}

.myOwnStyleRight::before {
    content: "\F285";
    font-family: "Bootstrap-icons";
    color: #000000;
    font-size: 35px;
}
.cardBody {
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardTitle {
    height: 50px;
    width: 100%;
    font-size: 1em;
}
/* .cardBody h5 {
    font-size: 10vw;
} */
.myOwnStyleLeft {
    left: -50px;
}

.myOwnStyleLeft::before {
    content: "\F284 ";
    font-family: "Bootstrap-icons";
    color: #000000;
    font-size: 35px;
}

.myOwnStyleRight {
    right: -30px;
}

.upperBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.discount {
    display: flex;
    flex-direction: row-reverse;
}
.addBtn {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 12px;
    align-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: #429ECA;
    color: #fff;
}
.addBtn:hover {
    background-color: #429fca9f;
    color: #fff;
}
/* @media (max-width: 1172px) {
    .cardBody h5 {
        font-size: 10vw;
    }
} */
