
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainSection {
    opacity: 0.1;
    transition: opacity 1s ease-in-out;
}

.mainSection.show {
    /* transition: opacity 7s ease-in-out; */
    opacity: 1;
}
