@media(max-width: 425px) {
    .carsouelMargin {
        margin-top: 80px !important;
    }
}
.header1 {
    font-size: 2rem;
}

.carosuelP {
    text-align: left;
    font-size: 1.1rem;
    margin: 0;
    width: 491px;
}
.carosuelBtns {
    position: absolute;
    bottom: -70px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.carosuelBtns button {
    border: 0;
    padding: 10px;
    width: 200px;
    border-radius: 8px;
}
.carosuelBtns button:hover {
    transition: 0.5s;
}

.carosuelBtns .white {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 2px solid #ffffff
} 
.carosuelBtns .white:hover {
    background-color: rgba(255, 255, 255, 0.73);
    color: #000;
    font-weight: bold;
} 
.carosuelBtns .yellow {
    background-color: #FFC636;
    color: #ffffff;
} 
.carosuelBtns .yellow:hover {
    background-color: #f7b816c6;
    color: #ffffff;
    font-weight: bold;
}
.carosuelBtns .purple {
    background-color: #FB65FE;
    color: #ffffff;
} 
.carosuelBtns .purple:hover {
    background-color: #f72bfabf;
    color: #ffffff;
    font-weight: bold;
}

.carosuelImg {
    filter: brightness(70%);
}

@media (max-width: 768px) {
    .header1 {
        font-size: 1.3rem;
        line-height: 30px;
    }
    .carosuelP {
        text-align: left;
        font-size: 0.8em;
        margin: 0;
        width: 261px;
    }
    .carosuelBtns {
        gap: 20px;
    }
    .carosuelBtns button {
        font-size: 13px;
        padding: 10px;
        width: 136px;
    }
    .carosuelImg {
        height: 400px !important;
    }
}