
.reviewForm {
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;    
    background-color: #F7FBFD;
    padding: 20px;
    border-radius: 24px;
}

.stars {
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.stars svg {
    width: 25px !important;
    height: 25px !important;
    color: #FFC62A !important;
}
.reviewForm textarea,
.reviewForm input {
    border: 2px solid #429ECA;
    border-radius: 8px;
    padding: 10px;
    width: 70%;
}
.reviewForm textarea {
    height: 250px;
    resize: none;
}
.reviewForm textarea:focus,
.reviewForm input:focus {
    outline: none;
    border: 4px solid #429ECA;
    transition: 0.1s
}
@media (max-width: 768px) {
    .reviewForm textarea,
    .reviewForm input {
        width: 100%;
    }
}
.addReviewBtn {
    border: 1px solid #429ECA;
    width: 120px;
    border-radius: 8px;
    background: none;
    color: #429ECA;
    width: 120px;
    height: 44px;
}
.addReviewBtn:hover {
    background: #429ECA;
    color: #fff;
    transition: 0.5s;
}