.footerSection {
    background-color: #429ECA;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerContent {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.leftSection {
    display: flex;
    justify-content: space-evenly;
}
.contentBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contactus {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 205px;
}