.footerSection {
    background-color: #429ECA;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.footerContent {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.leftSection {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contentBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contactus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 127px;
    padding-top: 40px;
}
@media (max-width: 768px) {
    .footerContent {
        gap: 30px;
    }
    .footerSection {
        gap: 30px;
    }
    .leftSection {
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }
    .contactus {
        padding: 0px;
    }
}