.ulList {
    display: flex;
    justify-content: space-between;
    width: 150%;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}
.ulList li {
    color: #717171;
    position: relative;
}
/* .ulList li::before {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: #3D89AD;

} */
.ulList li:hover {
    color: #3D89AD;
    transition: 0.5s;
}

.ulList li:hover::before {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: #3d89ad6d;
    transition: 0.5s;
}
.active {
    color: #3D89AD;
    transition: 0.5s;
}
.active::before {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: #3D89AD;
    transition: 0.5s;
}
@media (max-width: 992px) {
    .ulList {
        flex-direction: column;
    }
    .active::before {
        top: 30px;
    }
    .ulList li:hover::before {
        display: none;
    }
}
/* @media (max-width: 768px) {
    .ulList {
        flex-direction: column;
    }
} */