
.imagesComponent {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    flex-wrap: wrap;
}
.imagesBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media(max-width: 768px) {
    .imagesComponent {
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    .imagesBox {
        flex-direction: row;
    }
}
.imagesBox img {
    border: 1px solid #979696;
    border-radius: 8px;
    cursor: pointer;
}
.imageCover {
    width: 450px;
}
.imageCover img {
    border: 1px solid #979696;
    border-radius: 8px;
    width: 100%;
    height: 420px;
}
.overlay {
    position: relative;
}
.overlay::before {
    content: ' ';
    height: 0%;
    color: white;
}
.overlay:hover::before,
.overlay:focus::before {
    content: "preview";
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: #429eca82;
    top: 0;
    text-align: center;
    font-size: 14px;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 767px) {
    .imageCover {
        width: 450px;
    }
}
@media(max-width: 580px) {
    .imageCover {
        width: 350px;
    }
}
@media(max-width: 389px) {
    .imageCover {
        width: 300px;
    }
    .imagesBox img {
        width: 75px;
        height: 75px
    }
}