/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/productSlider/productSlide.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.productSlide_myOwnStyle__At6Ay {
    font-size: 40px !important;
}
.productSlide_myOwnStyle__At6Ay::before {
    content: "\F135";
    font-family: "Bootstrap-icons";
    color: #247ba3;
    font-size: 66px;
    font-weight: bold;
}
/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./app/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/

