.p-icon{
    position: absolute !important;
    right: 10px !important;
    top: 10px !important;
}
.form-button button:first-child{
    border-radius: var(--radius-lg, 16px);
    border: 2px solid #96C9E2;
    background: #FFF;
    color: #292D32;
    }
.form-button button:last-child{
    display: flex;
    width: 311px;
    padding: 14px 0px;
    justify-content: center;
    align-items: center;
}
.input-group{
    background: #F5F5F5;
    border-radius: 8px ;
    padding: 14px 16px;
    padding-right: 40px !important;

}

.input-group::placeholder{
    color: #292D32;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.full_name label{
    color: #676767;
    font-family: 'Poppins';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
label{
    margin-bottom: 8px;
}

.form-button button:first-child {
    border-radius: var(--radius-lg, 16px);
    border: 2px solid #96C9E2;
    background: #FFF;
    color: #292D32;
}
.form-control > i {
    position: absolute;
    top: 13px;
    right: 25px;
}